<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
{% block head %}
    <head>
    
        <title>{% block title %}Flexpart Projects{% endblock %}</title>
    
        <script src="https://www.google.com/jsapi?key=ABQIAAAACwHKgL1igqJbFjRQJhUWyBTX27ALKqySBW6Nl1QKU6Q4S_KRExQv1nvf_WnanQrkPS07gIwL5yJyZQ" type="text/javascript"></script>
        <link rel="stylesheet" href="{{ MEDIA_URL }}style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}960min/960.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}960min/reset.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}960min/960_12_col.css" type="text/css" media="screen" />
        <script src="{{ MEDIA_URL }}jquery.form.js" type="text/javascript"></script>
        <script type="text/javascript">
        google.load("search", "1");
        google.load("jquery", "1.6.4");
        google.load("jqueryui", "1.8.16");
        </script>
        
    </head>
 {% endblock head %}
    <body>
<div id="logo">
	<h1><a href="#">FLEXPART</a></h1>
</div>
<div id="menu">
	<ul>
		<li class="first"><a href="/fpi" accesskey="1" title="">Home</a></li>
		<li><a href="{% url project-list %}" class="sel" accesskey="2" title="">Projects</a></li>
{% comment %}
		<li><a href="#" accesskey="3" title="">Blogs</a></li>
		<li><a href="#" accesskey="4" title="">About Us</a></li>
		<li><a href="#" accesskey="5" title="">Contacts</a></li>
		<li><a href="#" accesskey="6" title="">RSS</a></li>
{% endcommend %}
	</ul>
{% comment %}
	<div id="search">
		<form method="get" action="">
			<fieldset>
			<input id="s" type="text" name="s" value="" />
			<input id="x" type="image" name="imageField" src="images/img10.jpg" />
			</fieldset>
		</form>
	</div>
{% endcomment %}
</div>
<hr />
    <div id="container" class="container_12">
        <div id="page" class="grid_12">

              {% block content %}{% endblock %}

         </div> <!-- end content -->
         
         <div id="footer" class="grid_12">
            <p class="credit">&copy;2011 nilu.atmos</p>
            <h2 ><a href="/admin/fpi/fprun/">Edit Projects</a></h2>
         </div><!--  end footer -->
        
        </div> <!-- end container -->
    </body>
</html>

