{% comment %}

Displays the menus for selecting the project and run

{% endcomment %}
<div id="projectops" id="leftcontrols">
	{{ form.projectID }} {{ form.run_dir }}
	<h3>FLEXPART Interactive Plotting Tool for:</h3>
	<p>
		<b>project:⇒</b> {{ form.project }}
	</p>
	<p>
		<b>run:⇒</b> {{ form.run }}
	</p>

	{% include 'fpi/fpi_ajax_header.html' %}
</div>
