{% extends 'base.html' %}
{% block content %}
<body>

    
    <h2><a href="{% url fp-interactive project run %}">Return to plotting routine</a></h2>
    {% if json %}
        <h2> Download the plot request: <a href="{{ json.0.link }}"> {{ json.0.title }} here</a> to regenerate these plots</h2>
    {% endif %}
    
    <h1>Interactive Plot Request:</h1>
    
    <div>
        {% if images %}
        <table>
            {% for image in images %}
            <tr> 
                <td>
                <img src="{{ image.link }}" type="png">
                <p> {{ image.title }} </p>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        
    </div>
    <h2><a href="{% url fp-interactive project run %}">Return to plotting routine</a></h2>
{% endblock %}