<div id="headerops">        
                    </p>
    
                
                    <p>Welcome to the interactive plotting tool for FLEXPART. This page is designed
                    to help select and browse forecast and analysis products. Please read
                    the <a href=" {% url fp-instructions form.projectID.value %}">instructions</a> if you are a first time user.
                    </p>
                     
                    <h3>Quickstart:</h3>
                    <p>1) Select the tracer and times for your plots, other variables are predefined with default values<p>
                    <p><b>tracer/species:⇒</b> {{ form.tracer }} </p>
                    <table border="0" cellpadding="0" cellspacing="2" width="234">
                        <tbody>
                            <tr>
                               <td colspan="5">time:</td>
                            </tr>
                            <tr>
                                <td> 
                                   {{ form.p_start }}
                                </td>
                                {% comment %}
                                <td>
                                   {{ form.animate }}
                                </td>
                                {% endcomment %}
                            </tr>
                            {% comment %}
                            <tr>
                                <td colspan="4">if movie, end dates:</td>
                            </tr>
                            
                            <tr>
                                <td> 
                                     {{ form.p_end }}
                                </td>
                            </tr>
                            {% endcomment %}
                        </tbody>
                    </table>
                    {% if form.has_multiple_nps %}
                    <h4>Release Points:</h4>
                    
                    <p>This run contains multiple releases, please select a release to plot:</p>
                    {% endif %}
                    {{ form.numpointspec }}
                    
                    
                    <h4>Plot Region</h4>
                    <p>2) use the map at right to select bounding coordinates for the map
                    (horizontal plots) and/or line coordinates (vertical plots). You can also fill in
                    the bounding coordinates and use the <a href="#" id="showmapparams">'Set From Input'</a> button.</p>
                    
                    <a id="showparams" href="#"><h4 >Optional Parameters</h4></a>
                    <div id="optionalparams">                
                        <p>2a) fill in the optional parameters to refine your plots.</p>
                        <table border="0" cellpadding="0" cellspacing="2" width="410">
                            <tbody>
                                
                                <tr>
                                    <td>plot type:</td>
                                    <td>ageclass:('all' for forecasts)</td>
                                    <td colspan="2">nested fields?</td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        {{ form.plot_type }}
                                    </td>
                                    <td> 
                                        {{ form.ageclass }}
                                    </td>
                                    <td colspan="2">
                                        {{ form.nest }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">Cross Section Altitude in m.a.s.l? {{ form.asl }} </td>
                                </tr>
                                <tr>
                                    <td colspan="4">Cross Section Interpolated? {{ form.crossmethod }} </td>
                                </tr>
                                
                                <tr>
                                    <td colspan="4"><h4>Custom settings for Horizontal Plots: </h4></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Height Level [{{ object.H.alt_unit }}]
                                    
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <!-- <input name="alt" value="-1" size="5" type="text"> -->
                                        {{ form.level }}
                                    </td>
                                    <td>
                                    
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                                
                                <tr>
                                    <td colspan="2">units: <em>note:</em> total column is in (mg/m2)</td>
                                    <td>min value:</td>
                                    <td>max value: </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form.unit }}
                                    </td>
                                    <td> {{ form.min_conc }} </td>
                                    <td colspan="2">{{ form.max_conc }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        Log Color Scale?
                                    </td>
                                    <td> {{ form.log }} </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        
                    
                    <h4>Submit Form</h4>
                    <p>3) when completed: <input value="create plots" name="submit" type="submit"> or <input value="reset" name="clear" type="reset"></p>
                    
                    
                </div>
