
{% extends 'base.html' %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      lang="en"
      metal:use-macro="here/main_template/macros/master"
      i18n:domain="sits">
{% block head %}
    <head>
        <title>{% block title %}Flexpart Interactive {% endblock %}</title>
        <script src="https://www.google.com/jsapi?key=ABQIAAAACwHKgL1igqJbFjRQJhUWyBTX27ALKqySBW6Nl1QKU6Q4S_KRExQv1nvf_WnanQrkPS07gIwL5yJyZQ" type="text/javascript"></script>
        <link rel="stylesheet" href="{{ MEDIA_URL }}style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}960min/960.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}960min/reset.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}960min/960_12_col.css" type="text/css" media="screen" />
        <script type="text/javascript">
        google.load("search", "1");
        google.load("jquery", "1.6.4");
        google.load("jqueryui", "1.8.16");
        </script>
        <!-- <script src="http://github.com/cowboy/jquery-bbq/raw/v1.2.1/jquery.ba-bbq.min.js" type="text/javascript"></script> -->
        <script src="{{ MEDIA_URL }}history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
        <script src="http://www.openlayers.org/api/OpenLayers.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}fpi_OpenLayers.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        j$ = jQuery.noConflict();
        init_OL();
        //j$('input').attr('disabled', 'disabled');
 
  
        
        j$('div#optionalparams').hide();
        j$('div#optionalmapparams').hide();
        j$('#spinner').hide();
        j$('select#p_end').attr('disabled', 'disabled');
        
        
        //hide optional parameters 
        j$('a#showparams').live( {
        	click: function(event) {
        	    event.preventDefault();
        	    j$('div#optionalparams').slideToggle('medium');
        	    }
        });
        

        //hide map parameters 
        j$('a#showmapparams').click( function(event)
        {
            event.preventDefault();
            j$('div#optionalmapparams').slideToggle('medium');
        });
        
        //swtich projects 
        j$('select#projects').live( {
            change: function() {
                q = ['project', this.value, 'none'].join('/');
                j$('#projectops').html('&nbsp;').load('{% url ops %}?q=' + q);
           }
        });

        //switch runs 
        j$('select#runs').live( {
            change: function() {
                proj = j$('select#projects').val();
                q = ['header', proj, this.value].join('/');
                j$('#headerops').html('&nbsp;').load('{% url ops %}?q=' + q);
            }    
        });

        
        
        
        // spinner 
        j$(document).ajaxStart(function() {
        	j$('#spinner').show();
        }).ajaxStop(function() {
        	j$('#spinner').hide();
        	j$('div#optionalparams').hide();
        });
        
        // clear file upload
        j$("#clearfile").click(function(event){
        	  event.preventDefault();
        	  
        	  j$("input#id_plotfile").replaceWith("<input type='file' name='plotfile' id='id_plotfile' />");
       	});

        
        
    });
    
/*     function historyCallback(e) {
    	
    }
    
    function switchProjects() {
    	var proj = j$.bbq.getState("project");
    	if (proj != undefined) {
    		q = ['project', proj, 'none'].join('/');
    		j$('#projectops').html('&nbsp;').load('{% url ops %}?q=' + q);	
    	};
    };
    
    function switchRuns() {
        var run = j$.bbq.getState("run") || j$('select#runs').val();
        var proj = j$.bbq.getState("project") || j$('select#projects').val();
        if (run != undefined) {
            q = ['header', proj, run].join('/');
            j$('#headerops').html('&nbsp;').load('{% url ops %}?q=' + q);  
        }
    }   */  
    
    </script>
</metal:javascriptslot> 
{% endblock head %}

<body>
{% block content %}
<metal:main fill-slot="main">
<div>    
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
                     
       <form enctype="multipart/form-data" method="post" name="fpi_form"
       
                             action="{% url fpi-view %}" >{% csrf_token %}
                             
                             
							 <!--<input tal:attributes="name string:header; value H; type string:hidden;"type="hidden"> -->
            <!--  hidden fields -->

            <div class="grid_6 alpha">
           
            {% include 'fpi/fpi_ajax_project.html' %}
            <span id="spinner"><img src="{{ MEDIA_URL }}spinner.gif"/></span>
            </div>
            
            
            <div id="rightcontrols" class="grid_6 omega" style="background-color: rgb(85, 102, 153);">
                <div id="map" style="height:280px; width=320px;"></div>                
                <div  class="nostyle" id="controls" style="position: relative; left: 10px;">
                    <table id="controltoggle" border="0" cellpadding="2" cellspacing="2" >
                        <tbody>
                            <tr>
                                <td>
                                    <input name="type" value="nav" id="navtoggle" onclick="toggleControl(this);" checked="checked" type="radio"> <label for="navtoggle">navigate</label>
                                    <input name="type" value="line" id="linetoggle" onclick="toggleControl(this);" type="radio"> <label for="linetoggle">draw line</label>
                                    <input name="type" value="polygon" id="polygontoggle" onclick="toggleControl(this);" type="radio"> <label for="polygontoggle">draw square</label>
                                    <input name="type" value="drag" id="dragtoggle" onclick="toggleControl(this);" type="radio"> <label for="dragtoggle">drag feature</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Use the controls above or <a href="#" id="showmapparams" ><font color='black'>fill in the boxes</font></a> below to select a bounding box and a cross-section
                                    line for the plots.
                                    </p>
                                </td>
                            </tr>    
                            
                        </tbody>
                    </table>
                </div>
                <div id="optionalmapparams">
			        <table class="gridtable"  id="mapinputs" border="0" cellpadding="2" cellspacing="2" >
                        <tbody>
                            <tr>
                               <td>
                                   <ul>
                                       <li type="disc">NOTE: click to set defaults: <button name="reset_latlon" type="button" onclick="resetCoords()">default</button>
                                       </li>
                                   </ul>
                               </td>
                            </tr>
                           
                            <tr>
                               <td>
                                   <div id="controls">
		  			
                                       <h3>box corners:</h3>
                                       <p>lower left lat : {{ form.llcrnrlat }}</p>
                                       <p>lower left lon : {{ form.llcrnrlon }}</p> 
                                       <p>upper right lat: {{ form.urcrnrlat }}</p>
                                       <p>upper right lon: {{ form.urcrnrlon }}</p>
                                       
                                       <input name="linebounds" value="" type="hidden">
                                       <h3>line coordinates:</h3>
                                       
                                       <p>lat 1:  {{ form.l_lat }} </p>
                                       <p>lon 1:  {{ form.l_lon }} </p>
                                       <p>lat 2:  {{ form.r_lat }} </p>
                                       <p>lon 2:  {{ form.r_lon }}</p>
                                       
                                   </div>
                               </td>
                           </tr>
                            <tr type="disc">
                                <td>NOTE: Click to set from Input: <button name="set_laton" type="button" onclick="setFromInput()">Set From Input</button></td>
                                
                            </tr>                           
                           
                           
                        </tbody>
                    </table>
                </div>
                <div class="nostyle" tal:condition="not:context/@@plone_portal_state/anonymous" style="height:220px; background-color: rgb(255, 204, 51);">
                    <div>
                        <p>Optional File Upload: <br>
                        </p>
                        <p>
                            {{ form.plotfile }}
                        </p>
                        <p><a href="#" id="clearfile">Clear</a></p>
                        
                        <p>
                            <em>NOTE: If uploading a flight file, coordinates
                            from map and time input from form will be ignored. Map coordinates will be
                            based on the flightrack.
                            </em>
                        </p>
                        <p>Format for flighttrack:<br/>
                        YYYYMMDD<span> </span>HHMMSS, lon, lat, elv
                        </p>
                        <p>You can also upload a .json file. Create a plot, and there will be a
                         link at the bottom for the configuration file that you may reuse by uploading it here.
                         
                        </p>
                        {% comment %}
                        <p>
                            {{ form.flight_movie }}
                            <em>make horizontal movie?</em> 
                            {{ form.timeseries }}
                           <em>plot time series?</em>
                        </p>
                        {% endcomment %}
                    </div>
                </div>
            </div>
	
        </form>
    </div>
</metal:main>
</div>

{% endblock %}


</body>

</html>
