{% extends 'fpi/fpproject_detail.html' %}

{%block instructions %}


<h2>Interactive Browser Instructions</h2>

{% if object.instructions %}

{{ object.instructions|safe }}

{% else %}

<div class="plain">
	<h2>Overview</h2>
	<p>The Interactive browser is designed to look at FORECAST and
		ANALYSIS output from FLEXPART. Several PROJECTS are available. Each
		project has a set of TRACERS - these are unique to the PROJECTS. In
		general tracers include:</p>
	<div align="left"></div>
	
	<table class="plain">
		<tbody>
			<tr>
				<td align="left">North American (CO, NOx, SOx, and BC) <br /></td>
				<td align="left">Asian (CO, NOx, SOx, and BC)</td>
			</tr>

			<tr>
				<td align="left">European (CO, NOx, SOx, and BC)</td>
				<td align="left">Biomass Burning (CO and BC)</td>
			</tr>
		</tbody>
	</table>
	</p>
<br/>
<br/>
<br/>
<br/>


	<p>At times other projects have custom created tracers.</p>

{% endif %}
<br/>
<br/>
<br/>
<br/>
	<h2>
		Other Plotting Parameters to Customize the Plots
	</h2>
	<p>
		First, select a project and tracer of interest. Select the times for
		plotting. Then use the map interface on the right to define the region
		of interest for plotting. You can also manual enter the coordinates. <br />
	</p>


	Optional parameters include:<br />
	<br />

	<table class="gridtable">
		<thead>
			<tr>
				<th>Parameter</th>
				<th>Description</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Plot Type<br /></td>
				<td>Selects whether a map or curtain type plot is create<br /></td>

				<td>One of 'horzontal', 'vertical', or '<b>both</b>' <br /></td>
			</tr>
			<tr>
				<td>Age Class<br /></td>
				<td>Age of the tracers<br /></td>
				<td>See menu - generally use '<b>all</b>' <br /></td>
			</tr>
			<tr>
				<td>Nested<br /></td>

				<td>Plot data from the nested domain <br /></td>
				<td>'<b>unchecked</b>' or 'checked' for yes <br /></td>
			</tr>
			<tr>
				<td>Altitude<br /></td>
				<td>For horizontal plots, will provide an elevation slice<br /></td>
				<td>'<b>Total COlumn</b>' produces total column. <br /></td>
			</tr>

			<tr>
				<td>MASL / MAGL<br /></td>
				<td>Applies to Cross Section Plots. Are the elevation units in m.a.s.l. or m.a.g.l. (sea or
					ground)<br />
				</td>
				<td>'<b>magl</b>' or 'masl'<br /></td>
			</tr>
			<tr>
				<td>Units</td>
				<td>Units of the species in mixing ratio or concentration<br /></td>
				<td>'ppbv' or '<b>ug/m3</b>' <br /></td>

			</tr>
			<tr>
				<td>Max Value<br /></td>
				<td>Select the maximum value to plot on the vertical plot<br /></td>
				<td><br /></td>
			</tr>
			<tr>
				<td>Max Column<br /></td>
				<td>Selects the maximum value to plot for Total Column plots<br /></td>
				<td><br /></td>
			</tr>
		</tbody>

	</table>

	<br />
	<h2>File Upload</h2>
	<p>
	After creating a plot, you will be given a link to a .json file. This file 
	may be reused to create a new plot with the same settings, and you can simply 
	modify the dates in the .json file, for example to create an identical set of
	plots for a new time.
	</p>
	<p>For flight files, create a file with the extension .txt</p>
	<p>It should contain lines of data with YYYYMMDD HHMMSS, LON, LAT, ELV</p>
</div>
<hr/>
{% endblock instructions %}
