{% extends 'base.html' %}
{% block title %}View Flexpart Runs{% endblock %}
{% block content %}
<div id="detail_container" class="grid_12">
<table class="gridtable">
    <tr>
        <th>Run ID</th>
        <th>Project Name</th>
        <th>Status</th>
        <th>Created By</th>
    </tr>
    {% for fpr in object_list %}
    <tr>
        <td><a href="{% url run-detail fpr.slug %}">{{ fpr.id }}</a></td>
        <td><a href="{% url run-detail fpr.slug %}">{{ fpr.project_name }}</a></td>
        <td>{{ fpr.status }}</td>
        <td>{{ fpr.created_by }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}