

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      lang="en"
      metal:use-macro="here/main_template/macros/master"
      i18n:domain="sits">
    <head>
        <title>{% block title %}{% endblock %}Flexpart Interactive</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}jquery-1.6.4.min.js" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}jquery.relatedselects.min.js" type="text/css" media="screen" />
        <script src="{{ MEDIA_URL }}jquery.form.js" type="text/javascript"></script>
    </head>


<script type="text/javascript">
jQuery(document).ready(function()
{
        j$ = jQuery.noConflict();

	    j$('input').attr('disabled', 'disabled');

        j$('div#pagebody').hide();
        j$('select#tracer_idx').change(function(event)
        {
                event.preventDefault();


                j$('div#pagebody').load('fpi-selected', j$('form').serialize() ).slideDown('medium');
                j$('div#pagebody').fadeOut(100000);
        });

        j$("#jsonForm").relatedSelects(
        {
            onChangeLoad: '/json-tracers',
            defaultOptionText: 'Select ...',
            selects: {
                'projectID':      { loadingMessage:'Loading Projects...' },
                'tracer_idx':     { loadingMessage:'Available Tracers...'}
            }   

        }); 

		// enable the proceed once the tracer is selected
	    j$("select#tracer_idx").change( function() {
			j$('input').attr('disabled', '');
		});



});


</script>


<body>
        
        <form id="jsonForm" tal:attributes="action string:${view/__name__}" method="post"> 
        <span tal:replace="structure view/generate_project_selector">link</span>
	
        <select id="tracer_idx" name="tracer_idx">
        {% if species %}
             {% for spec in species %}
            <option value="{{ species }}">{{ spec }}</option>
            {% endfor %}
        {% endif %}
        </select>

         <br />
        <input id ="process" type="Submit" value="Proceed" />
    </form>
    
            <div id="pagebody">
            {{ params.object_id }}
            {{ params.tracer_id }}
        
           {% if species %}
               {% for spec in species %}
                <li>{{ spec }}</li>
				<p tal:content="view/projectID | nothing" />
				<p tal:content="view/tracer_idx | nothing" />
				<p tal:content="view/P | nothing" />
				<p tal:content="view/tracer | nothing" />
				<p tal:content="view/tracer_dir | nothing" />
				<p tal:content="view/tracer_num | nothing" />
				{% endfor %}
			{% endif %}
             </div>


        </metal:main>
</body>
</html>



