{% extends 'base.html' %}
{% block title %}Flexpart Species {{ object.species_id }} - {% endblock %}
{% block content %}
 <div id="header">
    <h1>Flexpart SPECIES_{{ object.species_num }}: {{ object.species_name }} </h1>
</div>

<div id="detail_container" class="grid_12">
    <h2>Information</h2>
    <div class="grid_6 alpha">
        <h2>Species ID</h2>
        <p>{{ object.species_id }}</p>
       
    </div>
    <div class="grid_6 omega">
        <h2>Species Name</h2>
        <p>{{ object.species_name }}</p>
       
    </div>
</div>
<div id="description" class="grid_12">
    <h2>Species Mol Weight</h2>
    <p class="des">{{ object.molweight }}</p>
</div>
      
{% endblock %}