{% extends 'base.html' %}
{% block title %}Flexpart Tracer #{{ object.id }} - {% endblock %}
{% block content %}
<h2>Flexpart Tracer: {{ object.tracer_name }} </h2>
<div id="detail_container" class="grid_12">
    <h2>Information</h2>
    <div class="date">
        <p>Based on Species: <a href="{% url species-detail species.species_id %}">{{ species.species_name }}</a></p>
    </div>
    
    <div class="grid_6 alpha">
        <h2>Run</h2>
        <p>{{ object.run }}</p>
    </div>
    <div class="grid_6 omega">
        <h2>FLEXPART Data File Extension</h2>
        <p>{{ object.tracer_num }}</p>
    </div>
</div>


{% endblock %}