/* undohtml.css */
/* (CC) 2004 Tantek Celik. Some Rights Reserved. */
/*   http://creativecommons.org/licenses/by/2.0 */
/* This style sheet is licensed under a Creative Commons License. */
/* comments and whitespace stripped */
:link,:visited { text-decoration:none }
ul,ol { list-style: none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input { margin:0; padding:0 }
a img,:link img,:visited img { border:none }
address { font-style:normal }

@font-face {
    font-family: MuseoSans; /* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
    src: url(../fonts/MuseoSans_500.eot);
    src: local('☺'), url(../fonts/MuseoSans_500.otf) format('opentype');
}

html {
    overflow-y: scroll;
}

body {
    position: relative;
    font-family: MuseoSans, Arial, sans-serif;
    background: #000;
    color: #333;
    padding: 20px 50px;
    min-width: 600px;
}

.clear {
    float: none;
    clear: both;
}

.left {
    width: 49%;
    float: left;
}

.right {
    width: 49%;
    float: right;
}

.rj {
    text-align: right;
}

.odd {
    background-color: #f6f6f6;
}

a:link {
    color: #238;
}

a:visited {
    color: #856;
}

code, pre {
    font: .75em "Bitstream Vera Sans Mono", "Andale Mono", "Courier New", monospace;
}

pre {
    min-height: 3em;
    background: #fafafa;
    border: 2px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #000;
    margin: 1em;
    padding: .5em;
    float: none;
    clear: both;
    white-space: pre-wrap;
}

hr {
    float: none;
    clear: both;
    width: 40%;
    border: 1px dotted #ddd;
}

img {
    border: 0;
}

p {
    position: relative;
    line-height: 1.4;
    margin: 1em .1em;
    padding: 0;
    max-width: 48em;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

h1 {
    font-size: 2.5em;
    letter-spacing: -.025em;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: .5em 0 0 0;
}

h3 {
    font-size: 1.25em;
    margin: .75em 0 .5em 0;
}

h4 {
    margin: 1em 0;
}

li {
    margin: 0 0 .5em 0;
}

p + h1 {
    margin-top: 2em;
}

th, td {
    text-align: left;
}

ul {
    list-style: square outside;
    margin: 0 1em;
}

#nav {
    background-color: rgb(0,0,0);
    text-transform: uppercase;
}

#nav ul {
    list-style: none;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}

#nav li {
    position: relative;
    white-space: nowrap;
    display: inline;
    padding: 0;
    margin: 0 .5em 0 0;
}

#nav a {
    color: #aaa;
}

#nav a:hover {
    color: #fff;
}

#nav li#home a {
    color: #fff;
}

.block {
    padding-bottom: 1em;
}
.w49{
    width: 49%;
}
.w30{
    width: 30%;
}
.w70{
    width: 70%;
}
.left{ float:left; }
.right{ float:right; }



body.blog li#blog a,
body.contact li#contact a,
body.home li#home a,
body.portfolio li#portfolio a {
    color: #fff;
}

a.skiplink {
    font-size: .5em;
    position: relative;
    left: -10000em;
    text-transform: lowercase;
    color: #fff;
}

.skiplink:active,
.skiplink:focus {
    left: 0;
}

#content {
    position: relative;
    word-wrap: break-word;
    background: #fff;
    border: 1px solid #222;
}

#main {
    padding: 1em 2em;
    font-size: .9em;
}

#content p a,
#content li a {
    text-decoration: underline;
}

#content ul {
    margin-left: 1em;
}

div.rtb {
    width: 47%;
    position: relative;
}

div.rtb h1 {
    margin: 0;
    padding: 0;
}

div#content div.rtb p {
    margin: 0;
    padding: .5em 0 .5em 10px;
}

div.rtb ul {
    padding: 0 .75em;
}

form {
    margin: 0 1em;
}

#content .hpst {
    position: absolute;
    left: -5000em;
}

ul.form {
    list-style: none;
    margin: 0;
    padding: 0;
}

label {
    display: block;
    clear: both;
    margin: .5em .5em 0 0;
}

button, .button {
    font-weight: bold;
    margin: 2px;
    cursor: pointer;
}

input,
textarea {
    margin: .25em;
    padding: .25em;
}

.error {
    color: #c63;
    font-weight: bold;
    font-style: italic;
}

ul.errorlist {
    list-style-image: url(../images/error.png);
    color: #c63;
    font-size: .9em;
    font-style: italic;
    margin: 0 4em;
    padding: 0;	
}

.tags {
    margin: 2em 0 3em 0;
    padding: 0;
}

.tags dl {
    list-style: none;
    margin: 0 0 0 1em;
    padding: 0;
}

.files {
    margin: 2em 0 0 0;
}

.files ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entry {
    position: relative;
    float: left;
    width: 100%;
    clear: both;
    padding-left: 1em;
    margin: 0 0 1em 0;
}

.timestamp {
    position: relative;
    font-size: .75em;
    line-height: .9;
    width: 64px;
    height: 64px;
    margin: 1.5em 0 0 0;
    background-image: url(../images/calendar_empty.png);
    background-repeat: no-repeat;
    color: #444;
    text-align: center;
    text-transform: uppercase;
}

.timestamp .day {
    padding-top: 16px;
}

.timestamp .month {
    font-size: 1em;
}

.entry h2 {
    margin-bottom: .5em;
}

.more {
    margin: .5em 1em;
    font-style: italic;
}

.meta {
    position: relative;
    float: left;
    clear: left;
    width: 100px;
}

.meta p {
    margin: 1em 0 0 4px;
    font-size: .75em;
}

.summary,
.body {
    margin: 1em 1em 1em 100px;
}

.body p {
    margin: 0 0 1em 0;
}

div.comments {
    margin: 4em 0 0 0;
    font-size: .8em;
}

.comment {
    position: relative;
    padding: 1em 0;
}

.comment .meta {
    border-bottom: 1px solid #ddd;
    width: 100%;
    float: none;
    clear: both;
}

.comment .body {
    margin: 0;
    padding: .5em 1em;
}

.comment .body p {
    margin: 1em;
    line-height: 1;
}

#content .comment_form p {
    line-height: 1;
    margin: 0;
}

.comment_form h2 {
    margin: 2em 0 .5em 0;
}

.comment_form input,
.comment_form textarea {
    width: 30em;
}

.comment_form input[type=submit] {
    width: auto;
}

.comment_preview {
    margin: 0 2em;
    padding: 1em;
    border: 1px solid #000;
}

.pages {
    background: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 4px;
    text-align: center;
    font-size: .8em;
    clear: both;
}

.pages .next {
    position: absolute;
    right: 1em;
}

.pages .previous {
    position: absolute;
    left: 1em;
}

.clients {
    position: relative;
    width: 85%;
    margin: auto;
}

.client {
    position: relative;
    width: 400px;
    height: 320px;
    margin: 1em;
    float: left;
    text-align: right;
}

.client div {
    padding-top: 8px;
    text-align: right;
}

.client a {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: .9em;
    color: #000;
}

.client img {
    box-shadow: 6px 6px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 6px 6px 4px rgba(0,0,0,.2);
}

.info {
    font-style: italic;
}

#header {
    background-image: url(../images/banners/roof.jpg);
    background-position: 0% 0%;
    background-repeat: repeat-x;
    text-align: right;
}

#header h1 {
    font-size: 1.5em;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
    line-height: .9;
    padding: 4px 4px 0 2px;
}

#header h1 strong {
    font-size: 2.5em;
    letter-spacing: -.075em;
    text-transform: uppercase;
}

#footer {
    float: none;
    clear: both;
    padding: .5em 0 0 0;
    background: #1f1f1f;
    color: #777;
    font-size: .75em;
}

#footer h3 {
    text-align: center;
    margin-bottom: 1em;
}

#footer table {
    width: 90%;
    margin: auto;
}

#footer a {
    color: #aaa;
}

#footer a:visited {
    color: #707070;
}

#footer a:hover {
    color: #fff;
}

#footer ul {
    list-style: none;
    float: left;
    clear: both;
    width: 100%;
    margin: 1em;
}

#footer ul li {
    float: left;
    width: 50%;
    text-align: left;
}

#copy {
    text-align: right;
    font-size: .75em;
    color: #444;
}

table.files {
    border: 1px solid #999;
    border-collapse: collapse;
}

table.files th {
    background: #f0f0f0;
    border-bottom: 1px solid #999;
}

table.files th, table.files td {
    padding: .25em 1em;
}

table.files a {
    text-decoration: underline;
    color: #009;
}
table, caption, tbody, tfoot, thead, tr, th, td { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-weight: inherit; 
    font-style: inherit; 
    font-size: 100%; 
    font-family: inherit; 
    vertical-align: baseline; 
} 
/* remember to define focus styles! */ 
:focus { 
    outline: 0; 
} 
body { 
    line-height: 1; 
    color: #333; 
    background: white; 
    font-size: 88%;
} 
ol, ul { 
    list-style: none; 
} 
/* tables still need 'cellspacing="0"' in the markup */ 
table { 
    border-collapse: collapse; 
    border-spacing: 0; 
    margin: 1em 0;
    background: #eef;
} 
caption, th, td { 
    text-align: left; 
    font-weight: normal; 
    border: 1px solid #aad;
    color: #444;
} 
blockquote:before, blockquote:after, 
q:before, q:after { 
    content: ""; 
} 
blockquote, q { 
    quotes: "" ""; 
}
th {
    padding: 0.2em 1em 0.2em 0.5em;
    background: #ddf;
    border-bottom: 1px solid #303090;
}
td {
    padding: 0.2em 0.5em;
}
.list a {
    display: block;
    text-decoration: none;
}
.list a:hover {
    background: #339;
    color: #fff
}
.list tr:hover {
    background: #ccd;
}
fieldset {
    background: #e0e0f0;
    border:1px solid #aad;
    border-top: 3px solid #669;
    padding: 1em;
    margin: 1em 0;
}
legend {
    font-size:120%;
    padding: 0 0.5em;
    color:#303060;
}
a {
    color: #00f;
}
a:hover {
    color: #55f;
    text-decoration: none;
}
.flexpartrun {
    border: 1px solid #aad;
    margin: 1em 0;
    padding: 0.5em 1em;
    background: #e0e0f0;
}
h2 {
    font-size:130%;
    color: #303060;
    font-weight:bold;
}
h2 span {
    color: #778;
}
.flexpartrun h2 {
    padding: 0.5em 0 0 0;
    float: left;
}
.flexpartrun .date {
    font-size: 85%;
    float: right;
    color: #77a;
    text-align: right;
}
.flexpartrun .date p {
    padding-bottom:0.3em;
}
.flexpartrun .title {
    font-size: 90%;
    border-bottom: 1px solid #66a;
    margin-bottom:0.25em;
    color: #303060;
}
.flexpartrun .item{
    margin:0.75em 0;
}
.clear, #bd {
    clear:both;
}
.block {
    padding-bottom: 1em;
}
.w49{
    width: 49%;
}
.w30{
    width: 30%;
}
.w70{
    width: 70%;
}
.left{ float:left; }
.right{ float:right; }
h1 {
    font-size: 150%;
    color: #337;
}
h1 span {
    color: #555;
}
#hd p {
    color: #888;
}
#hd {
    position: absolute;
    top: 1em;
    right: 1em;
    text-align: right;
}
#mn {
    margin: 1em;
    margin-top: 2em;
    padding: 6px 8px;
    text-align: left;
    border-bottom: 6px solid #aad;
}
#mn li {
    display:inline;
}
#mn a {
    margin: 0;
    padding: 5px 8px;
    text-decoration: none;
    background: #e0e0f0;
}
#mn a:hover {
    background: #339;
    color: #eee;
}
#mn a.sel, #mn a.sel:hover {
    background: #aad;
    color: #fff;
}
#bd {
    margin: 1em;
}
#ft {
    text-align: right;
    color: #999;
    margin: 1em;
}
form p {
    padding: 0.25em 0;
}
.large {
    font-size: 120%;
}
.large input {
    font-size: 120%;
}
